body {
  font-family: "gaegu";
}

.container-fluid {
  padding: 3% 15% 17%;
}

h1 {
  font-family: "varela round";
  font-size: 3.2rem;
  line-height: 1.5;
  color: green;
}

h2 {
  font-family: "gaegu";
  font-size: 2.2rem;
  line-height: 1.5;
}

h3 {
  font-family: "gaegu";
  font-size: 2rem;
  color: white;
}

p {
  color: green;
  font-size: 1.5rem;
}

em {
  font-size: 1.3rem;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: "gaegu";
  font-size: 2.8rem;
  font-weight: bold;
  padding-top: 30px;
}

.fa-rainbow {
  margin-left: 2%;
}

.nav-item {
  padding: 20px 0 0 0;
}

.nav-link {
  font-size: 1.6rem;
  font-family: "gaegu";
  font-weight: bold;
}

/* Title */
#title {
  background-color: #b5e7a0;
}

.subscribe-button {
  font-weight: bold;
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 90%;
  border-radius: 100%;
  margin-top: 50px;
}

.small-heading {
  color: #ff5151;
  font-size: 2rem;
}

.title-main-page {
  padding: 70px 0 0 0;
}

.zipcode {
  font-size: 1.5rem;
  font-weight: bold;
  color: navy;
}

/* Features Section*/
#features {
  background-color: #ecce6d;
  font-weight: bold;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff5151;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #b5e7a0;
  color: #ff5151;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #b5e7a0;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Call to Action */
#cta {
  background-color: #ecce6d;
  color: green;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-size: 2.5rem;
  line-height: 1.5;
  color: green;
  font-weight: bold;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5151;
  padding: 20px 0 10px 0;

}

.subscribe-field {
  font-size: 1.5rem;
  color: green;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #b21f66
}

.footer-brand {
  color: white;
}

.social-icon {
  margin: 20px 10px;
  color: white;
}

/* Juices Page */

/* Title */

#juices-page {
  background-color: #b5e7a0;
  text-align: center;
}

.big-heading-juices-page {
  font-size: 2.5rem;
  font-family: "gaegu";
  font-weight: bold;
  color: #ff5722;
  margin: 30px 0 20px 0;
}

.small-heading-juices-page {
  font-size: 1.5rem;
  font-family: "gaegu";
  font-weight: bold;
  color: #b21f66;
  margin-bottom: 40px;
}

/* Juice Flavours */

.juice-image {
  width: 10%;
  border-radius: 100%;
  margin: 5px 0 20px 10px;
}

.p-juices-page {
  font-family: "gaegu";
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}

.h2-juices-page {
  font-family: "gaegu";
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.search-button {
margin: 20px 0 40px 5px;
}

/* Juices Page Footer */

.juices-page-footer-section {
text-align: center;
margin-bottom: 30px;

}
